@page
@model BeautifulNationalParks.Pages_Parks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Park</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Park.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Park.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Park.DateEstablished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Park.DateEstablished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Park.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Park.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Park.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Park.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Park.Climate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Park.Climate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Park.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
