@page
@model BeautifulNationalParks.Pages_Parks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Park</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Park.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Park.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Park.DateEstablished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Park.DateEstablished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Park.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Park.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Park.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Park.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Park.Climate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Park.Climate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Park.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
