@page "/grocerystore"

@using AlexSouchereauGroceryApp.Data

<h1>Grocery Store</h1>

@if (GroceryIsles == null)
{
    <p><em>Loading...</em></p>
}
else
{


            @foreach (var isle in GroceryIsles)
            {
                <table class="table">
                    <thead class="isle-table-head">
                        <tr>
                            <th>Isle Number</th>
                            <th>Isle Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>@isle.IsleNumber</td>
                        <td>@isle.IsleName</td>
                    </tr>
                    <tr class="food-table-head">
                        <th>Quantity</th>
                        <th>Food Name</th>
                        <th>Food Group</th>
                        <th>Price</th>
                    </tr>
                    @foreach (var food in isle.StockedFood)
                    {
                        <tr>
                            <td>@food.Quantity</td>
                            <td>@food.FoodName</td>
                            <td>@food.FoodGroup</td>
                            <td>@food.Price</td>
                        </tr>
                    }
                    </tbody>
                </table>
                <br /><br /><br /><br />             
            }

}

@code {
@* private FoodItem[] foodItems; *@

public List<GroceryIsle> GroceryIsles = new List<GroceryIsle> {
    new GroceryIsle
    {
        IsleName = "Non-Perishables",
        IsleNumber = 1,
        StockedFood = new List<FoodItem>
        {
            new FoodItem { Quantity = 15, FoodName = "Canned Corn", FoodGroup = "Vegetables", Price = 2.49M },
            new FoodItem { Quantity = 12, FoodName = "Black Beans", FoodGroup = "Vegetables", Price = 1.99M }
        } 
    },
    new GroceryIsle
    {
        IsleName = "Frozen Goods",
        IsleNumber = 2,
        StockedFood = new List<FoodItem>
        {
            new FoodItem { Quantity = 2, FoodName = "Chicken Strips", FoodGroup = "Meats", Price = 10.99M },
            new FoodItem { Quantity = 5, FoodName = "Cheddar Perogies", FoodGroup = "Dairy", Price = 5.49M }
        }
    },
    new GroceryIsle
    {
        IsleName = "Snacks",
        IsleNumber = 3,
        StockedFood = new List<FoodItem>
        {
            new FoodItem { Quantity = 7, FoodName = "Crackers", FoodGroup = "Grains", Price = 3.99M },
            new FoodItem { Quantity = 9, FoodName = "Rasins", FoodGroup = "Fruits", Price = 2.99M }
        }
    }
};
}
