@page "/grocerystore"

@using AlexSouchereauGroceryApp.Data

<h1>Grocery Store</h1>

<h4>Add Food Item</h4>

<form>
    <label for="IsleNumber">Isle Number:</label>
    <input type="number" id="IsleNumber" placeholder="Enter Isle Number" @bind="newIsleNumber"><br />
    <label for="Quantity">Quantity:</label>
    <input type="number" id="Quantity" placeholder="Enter Quantity" @bind="newFoodQuantity"><br />
    <label for="FoodName">Food Name:</label>
    <input type="text" id="FoodName" placeholder="Enter Food Name" @bind="newFoodName"><br />
    <label for="FoodGroup">Food Group:</label>
    <input type="text" id="FoodGroup" placeholder="Enter Food Group" @bind="newFoodGroup"><br />
    <label for="Price">Price:</label>
    <input type="number" id="Price" placeholder="Enter Price" @bind="newFoodPrice"><br />
    <button class="btn btn-primary btn-sm" @onclick="addFoodItem">Add Food Item</button>
</form>

<br /><br />

@* Display Lists *@
@foreach (var isle in GroceryIsles)
{
    <table class="table">
        <thead class="isle-table-head">
            <tr>
                <th>Isle Number</th>
                <th>Isle Name</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>@isle.IsleNumber</td>
            <td>@isle.IsleName</td>
        </tr>
        <tr class="food-table-head">
            <th>Quantity</th>
            <th>Food Name</th>
            <th>Food Group</th>
            <th>Price/Unit</th>
        </tr>
        @foreach (var food in isle.StockedFood)
        {
            <tr>
                <td>@food.Quantity
                    <button class="btn btn-outline-secondary btn-sm" @onclick='(() => QtyDecrease(food))'>&#129055;</button>
                    <button class="btn btn-outline-secondary btn-sm" @onclick='(() => QtyIncrease(food))'>&#129053;</button>
                </td>
                <td>@food.FoodName</td>
                <td>@food.FoodGroup</td>
                <td>@food.Price</td>
            </tr>
        }
        </tbody>
    </table>
    <br /><br /><br /><br />
}

@code {
@* private FoodItem[] foodItems; *@



// Increase Food Item Quantity Button
private void QtyIncrease(FoodItem food)
{
    if(food.Quantity < 20)
    {
       food.Quantity += 1;
    }
    else
    {
        food.Quantity += 0;
    }
    
}

// Decrease Food Item Quantity Button
private void QtyDecrease(FoodItem food)
{
    if(food.Quantity > 0)
    {
        food.Quantity -= 1;    
    }
    else
    {
        food.Quantity -= 0;
    }

}

// Adds a new food item to an isle

private int newIsleNumber;
private int newFoodQuantity;
private string newFoodName;
private string newFoodGroup;
private decimal newFoodPrice;

private void addFoodItem()
{
    FoodItem newFoodItem;

    newFoodItem = new FoodItem
    {
        Quantity = newFoodQuantity,
        FoodName = newFoodName,
        FoodGroup = newFoodGroup,
        Price = newFoodPrice
    };

    if(newFoodQuantity < 20 && newFoodQuantity > 0)
    {
    GroceryIsles.Where(w => w.IsleNumber == newIsleNumber).ToList().ForEach(s => s.StockedFood.Add(newFoodItem));        
    }

}


// Default values for lists
public List<GroceryIsle> GroceryIsles = new List<GroceryIsle> {
    new GroceryIsle
    {
        IsleName = "Non-Perishables",
        IsleNumber = 2,
        StockedFood = new List<FoodItem>
        {
            new FoodItem { Quantity = 15, FoodName = "Canned Corn", FoodGroup = "Vegetables", Price = 2.49M },
            new FoodItem { Quantity = 12, FoodName = "Black Beans", FoodGroup = "Vegetables", Price = 1.99M }
        } 
    },
    new GroceryIsle
    {
        IsleName = "Frozen Goods",
        IsleNumber = 5,
        StockedFood = new List<FoodItem>
        {
            new FoodItem { Quantity = 2, FoodName = "Chicken Strips", FoodGroup = "Meats", Price = 10.99M },
            new FoodItem { Quantity = 5, FoodName = "Cheddar Perogies", FoodGroup = "Dairy", Price = 5.49M }
        }
    },
    new GroceryIsle
    {
        IsleName = "Snacks",
        IsleNumber = 9,
        StockedFood = new List<FoodItem>
        {
            new FoodItem { Quantity = 7, FoodName = "Crackers", FoodGroup = "Grains", Price = 3.99M },
            new FoodItem { Quantity = 9, FoodName = "Rasins", FoodGroup = "Fruits", Price = 2.99M }
        }
    }
};
}
